<div class="button-list-wrapper">
  <% items.forEach(function(r) {%>
    <div class="button-wrapper">
      <button type="button" class="button list-button" id='<%= r.id %>'><%= r.name %></button>
    </div>
  <% }); %>
</div>