<div class="footer-wrapper">
  <h3><a href="/about-us" id="about-us-url">About Us Page</a></h3>
  <small id="copyright">Copyright &copy; 2022 Grocery Assistant Team - All rights reserved.</small>
</div>