<div class="footer-wrapper">
  <h3 id="footer-h3">About Us</h3>
    <div id="footer-content">
      <p>
        We are group one from the IT Developer Capstone class. Our team
          members include Brian Lind, Nicole Crumbaker, Samantha Kukuk, 
          and Richard Valien.
      </p><br>
      <p>
        Grocery Assistant is a website based list creation and organization system.  
          Just like an online personal assistant,
          Grocery Assistant focuses on helping you remember everything on your list 
          so you only have to take one trip to the store.
          We hope to help people that are organized shoppers who want to track their 
          shopping habits and commonly buy the same items from a certain store. 
      </p>
    </div>
  <small id="copyright">Copyright &copy; 2022 Grocery Assistant Team - All rights reserved.</small>
</div>