<%#
  Creates a grid contianing controls which include icons for add (plus sign),
  edit (pencil), and delete (trash can).

  Addition of button with the click handler is to allow disabling the click
  event. The button is layered over the image and made transparent.
%>
<div class="icon-controls-wrapper">
  <div class="icon-control-wrapper">
    <button type="button" class="icon-button" id="add-icon-button" onClick='javascript:serverRequest("/add")'></button>
    <img id="add-icon" class="control icon-control" src="/image/hdpi/ic_add.png">
  </div>
  <div class="icon-control-wrapper">
    <button type="button" class="icon-button" id="edit-icon-button" onClick='javascript:serverRequest("/edit")'></button>
    <img id="edit-icon" class="control icon-control" src="/image/hdpi/ic_edit.png">
  </div>
  <div class="icon-control-wrapper">
    <button type="button" class="icon-button" id="delete-icon-button" onClick='javascript:serverRequest("/delete")'></button>
    <img id="delete-icon" class="control icon-control" src="/image/hdpi/ic_delete.png">
  </div>
</div>