<%#
  Creates a HTML input element control.
%>
<div class="control-wrapper search-control-wrapper">
  <input type="text" id="search-control" class="control search-control" maxlength="25" placeholder="Search">
</div>