<%#
  Creates a toolbar containing sort or filter controls and icons
%>

<div class="tool-bar-wrapper tool-bar-wrapper-3">
  
  <img src="image/hdpi/ic_arrow.png" alt="arrow" id="on-view">
  <h2 class="sort-by-h2">List Options</h2>

  <div id="out-of-sight" class="hide-toolbar">
    
    <div class="sort-by-h3">
      <h3>Sort By:</h3>
    </div>

    <div class="grid-container-1">
      <div class="grid-item-1" id="sort-by-product-1">
        <input type="radio" id="sort-by-product"
        name="sortBy" value="product"
        <% if (orderBy === 'product') {%>
          checked
        <%}%>
        >
        <label for="sort-by-product">Product</label>
      </div>

      <div class="grid-item-1" id="sort-by-category-1">
        <input type="radio" id="sort-by-category"
        name="sortBy" value="category"
        <% if (orderBy === 'category') {%>
          checked
        <%}%>
        >
        <label for="sort-by-category">Category</label>
      </div>

      <div class="grid-item-1" id="sort-by-urgency-1">
        <input type="radio" id="sort-by-urgency"
        name="sortBy" value="urgency"
        <% if (orderBy === 'urgency') {%>
          checked
        <%}%>
        >
        <label for="sort-by-urgency">Urgency</label>
      </div>
    </div>

    <div class="sort-by-h3" style="margin-top: 10px;">
      <h3>Show:</h3>
    </div>
  
    <div class="grid-container-2">
      <div class="grid-item-2">
        <input type="checkbox" id="sort-by-purchased" name="purchased" value="purchased">
        <label for="sort-by-purchased">Purchased</label>
      </div>

      <div class="grid-item-2">
        <input type="checkbox" id="sort-by-hidden" name="hidden" value="hidden">
        <label for="sort-by-hidden">Hidden</label>
      </div>
    </div>
  </div>
</div>