<%#
  Creates a toolbar containing icon controls and a url control.
  See url-control.ejs for required parameters
%>
<div class="tool-bar-wrapper tool-bar-wrapper-2">
  <%- include('../partials/icon-control.ejs', { icon: 'home' }); %>
  <%- include('../partials/search-control.ejs') %>
  </div>