<%#
  Creates a toolbar containing icon controls and an input control.
%>
<div class="tool-bar-wrapper tool-bar-wrapper-1">
<%- include('../partials/icon-control.ejs') %>
<%- include('../partials/search-control.ejs') %>
</div>