<div class="control-wrapper url-control-wrapper">
  <button type='button' class='control button url-button' onClick='javascript:serverRequest("<%= url_control.url %>")'><%= url_control.name %></button>
</div>