<div class="button-list-wrapper url-button-list-wrapper">
  <% url_list.forEach(function(u, index) {%>
    <div class="button-wrapper url-button-wrapper">
      <button type='button' class='button list-button url-button' onClick='javascript:serverRequest("<%= u.url %>")'><%= u.name %></button>
    </div>
  <% }); %>
</div>