* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline-style: none;
}

body {
  background-color: #D5F6E5;
}

.interface-wrapper {
  background-color: #01A66F;
  border: 4px solid black;
  border-radius: 25px;
  margin: 0.2rem auto;
  max-width: 50rem;
  min-width: 28rem;
  height: 100vh;
}

.header-wrapper {
  background-color: #75CE9F;
  border: 2px solid rgb(95 78 78);
  border-radius: 10px;
  margin: 1%;
  padding: 0.75%;
}

.header-wrapper h1 {
  text-align: center;
}

#back-icon {
  float: left;
}

.form-container,
.buttons-wrapper,
.button-list-wrapper {
  border: 2px solid rgb(95 78 78);
  border-radius: 20px;
  margin: 1%;
  height: auto;
  overflow: auto;
  scrollbar-color: gray rgb(216 105 65);
}

.validate {
  color: white;
  display: none;
  font-weight: bold;
  margin: 0.25rem 0.5rem;
  text-shadow: 1px 1px rgb(216 105 65);
}

.button-wrapper {
  margin: 1rem auto;
  height: 3rem;
  position: relative;
  text-align: center;
  line-height: 45px;
}

.button {
  background-color: #BDD99E;
  border: 1.25px solid black;
  border-radius: 20px;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: auto;
  min-width: 17rem;
  width: 80%;
  height: 100%;
  display: block;
}

.button:hover {
  background-color: #6F9842;
}

.form-input-wrapper,
.search-control-wrapper,
.url-control-wrapper {
  margin: 0.25%;
  width: 60%;
  height: 80%;
}

.form-input-wrapper label,
.search-control-wrapper label {
  font-size: 1.5rem;
}

.form-input,
.search-control,
.url-control {
  border: 1px solid rgb(95 78 78);
  border-radius: 10px;
  margin: 0.25rem 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(199 185 185);
  width: 92%;
}

.controls-wrapper,
.tool-bar-wrapper {
  position: relative;
  border: 2px solid rgb(95 78 78);
  height: 3rem;
  border-radius: 10px;
  margin: 1%;
  padding: 0.25%;
}

.icon-controls-wrapper {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px 45px;
  grid-template-rows: auto;
  margin: 0.25rem 0.5rem;
  position: absolute;
  right: 0;
}

.form-wrapper {
  margin: 2%;
}

.submit {
  background-color: #BDD99E;
  border: 2px solid rgb(95 78 78);
  border-radius: 10px;
  font-size: 1rem;
  height: 2rem;
  margin: 1%;
  padding: 0.5% 1%;
  width: 5rem;
}

#add-icon,
#open-icon,
#edit-icon,
#delete-icon,
#home-icon,
#settings-icon {
  border-radius: 30%;
  background-color: #177820;
}

.icon-control {
  opacity: 0.2;
}

#home-icon,
#settings-icon {
  opacity: 1;
}

.url-control-wrapper {
  margin-top: 0.25rem;
}

.url-control-wrapper .control {
  border-radius: 5px;
  margin-left: 0.5rem;
  background-color: #BDD99E;
  font-size: 1.25rem;
  max-width: fit-content;
}

/* List Button Styles */
.open-button {
  background-color: #719A44;
  position: absolute;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 1rem;
  font-weight: bold;
  min-width: 4rem;
  width: 10%;
  height: 96%;
  top: 3%;
  right: 10%;
  display: none;
}

.open-button-active {
  display: block;
}

.open-button-inactive {
  display: none;
}

.select-button-active {
  font-weight: bold;
  background-color: #94B86C;
}

.select-button-active:hover {
  background-color: #6F9842;
}

.select-button-inactive {
  font-weight: normal;
  text-decoration: none;
  background-color: #BDD99E;
}

.select-button-disabled {
  font-weight: normal;
  text-decoration: none;
  background-color: #BDD99E;
}

/* Icon control Styles */
.icon-active {
  opacity: 1;
}

.icon-inactive {
  opacity: 0.2;
}

/* Styles for preferences (GDM & interface-5) */
.hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.preference-wrapper {
  width: 80%;
  margin: 2%;
  position: relative;
}

.preference-wrapper h2 {
  background-color: #BDD99E;
  border: 1.25px solid black;
  border-radius: 20px;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
  padding: 5px;
}

.preference-wrapper a {
  color: black;
  font-size: 1.3rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close {
  display: none;
}

.open {
  display: block;
}

.preference-wrapper input[type="checkbox"] {
  height: 1.2rem;
  margin: 1% 0 1% 3%;
  width: 1.2rem;
}

.preference-wrapper label {
  margin-left: 1%;
  font-size: 1.5rem;
}

/* End preference styles */

.icon-control-wrapper {
  position: relative;
}

.icon-button {
  position: absolute;
  border-radius: 30%;
  width: 35px;
  height: 35px;
  background-color: transparent;
}

/*Only Tablet*/
@media only screen and (max-width: 64em) {
  body {
    background-color: #01A66F;
    margin: 0px;
  }

  .interface-wrapper { 
    min-width: 0px;
    width: auto;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}

/*Only Mobile*/
@media only screen and (max-width: 37.5em) {
  .interface-wrapper {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }

  .form-input-wrapper {
    width: 70%;
  }

  .search-control-wrapper {
    margin-top: 10px;
    width: 100%;
  }

  .tool-bar-wrapper, .button-list-wrapper-1 {
    padding-bottom: 60px;
  }

  .icon-controls-wrapper {
    grid-template-columns: 100px 100px 100px 100px;
    position: relative;
  }
}
