* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline-style: none;
}

.interface-wrapper {
  background-color: rgb(127 123 123);
  border: 4px solid black;
  border-radius: 25px;
  margin: 0.2rem auto;
  max-width: 50rem;
  min-width: 28rem;
  height: 100vh;
}

.header-wrapper {
  background-color: yellow;
  border: 2px solid rgb(95 78 78);
  border-radius: 10px;
  margin: 1%;
  padding: 0.75%;
}

.header-wrapper h1 {
  text-align: center;
}

#back-icon {
  float: left;
}

.form-container,
.buttons-wrapper,
.button-list-wrapper {
  border: 2px solid rgb(95 78 78);
  border-radius: 10px;
  margin: 1%;
  height: 83vh;
  overflow: auto;
  scrollbar-color: gray rgb(216 105 65);
}

.button-wrapper {
  margin: 1rem auto;
  height: 3rem;
  position: relative;
}

.button {
  background-color: coral;
  border: 1.25px solid black;
  border-radius: 20px;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: auto;
  min-width: 17rem;
  width: 80%;
  height: 100%;
  display: block;
}

.button:hover {
  background-color: rgb(216 105 65);
}

.form-input-wrapper,
.search-control-wrapper,
.url-control-wrapper {
  margin: 0.25%;
  width: 60%;
  height: 80%;
}

.form-input-wrapper label,
.search-control-wrapper label {
  font-size: 1.5rem;
}

.form-input,
.search-control,
.url-control {
  border: 1px solid rgb(95 78 78);
  border-radius: 10px;
  margin: 0.25rem 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(199 185 185);
  width: 92%;
}

.controls-wrapper,
.tool-bar-wrapper {
  position: relative;
  border: 2px solid rgb(95 78 78);
  height: 3rem;
  border-radius: 10px;
  margin: 1%;
  padding: 0.25%;
}

.icon-controls-wrapper {
  display: grid;
  grid-template-columns: 45px 45px 45px;
  grid-template-rows: auto;
  margin: 0.25rem 0.5rem;
  position: absolute;
  right: 0;
}

.form-wrapper {
  margin: 2%;
}

.submit {
  background-color: rgb(216 105 65);
  border: 2px solid rgb(95 78 78);
  border-radius: 10px;
  font-size: 1rem;
  height: 2rem;
  margin: 1%;
  padding: 0.5% 1%;
  width: 5rem;
}

#add-icon,
#edit-icon,
#delete-icon {
  border-radius: 30%;
  background-color: rgb(103 95 95);
}

.icon-control {
  opacity: 0.2;
}

.url-control-wrapper {
  margin-top: 0.25rem;
}

.url-control-wrapper .control {
  border-radius: 5px;
  margin-left: 0.5rem;
  background-color: yellowgreen;
  font-size: 1.25rem;
  max-width: fit-content;
}

/* List Button Styles */
.open-button {
  background-color: rgb(250, 172, 143);
  position: absolute;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 1rem;
  min-width: 4rem;
  width: 10%;
  height: 96%;
  top: 2%;
  right: 10%;
  display: none;
}

.open-button-active {
  display: block;
}

.open-button-inactive {
  display: none;
}

.select-button-active {
  font-weight: bold;
  background-color: lime;
}

.select-button-active:hover {
  background-color: lime;
}

.select-button-inactive {
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(255 127 80);
}

.select-button-disabled {
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(216 105 65);
}

/* Icon control Styles */
.icon-active {
  opacity: 1;
}

.icon-inactive {
  opacity: 0.2;
}

.icon-control-wrapper {
  position: relative;
}

.icon-button {
  position: absolute;
  border-radius: 30%;
  width: 35px;
  height: 35px;
  background-color: transparent;
}

@media screen and (min-width: 37.5rem) {
  .form-input-wrapper {
    width: 70%;
  }

  .search-control-wrapper {
    width: 70%;
  }

  .icon-controls-wrapper {
    grid-template-columns: 50px 50px 50px;
  }
}