<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery Assistant</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <h1>Add New Category</h1>
  <p>(ex. Dairy, Meat, Frozen, Household)</p>
  <form action="/category/add" method="post">
    <input type="text" id="add-category-name">
    <input type="submit" id="submit" value="Add">
  </form>
</body>
</html>