<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery Assistant</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <h1>Add New Category</h1>
  <p>(ex. Dairy, Meat, Frozen, Household)</p>
  <form action="">
    <input type="text" name="addCategoryName" id="add-category-name" required>
    <input type="submit" id="submit" value="Add">
  </form>

  <!-- JQuery Library -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <!-- Javascript Files -->
  <script src="/js/addCategory.js"></script>
</body>
</html>