<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery Data Manager</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="grocery-list-wrapper">
    <a href="/">Back</a>
    <h1>Your Saved Grocery Data</h1>
    <div class="buttons-wrapper">
      <div class="button-wrapper">
        <a href="/grocery-data-manager/product" class="button">Products</a>
      </div>
      <div class="button-wrapper">
        <a href="/grocery-data-manager/category" class="button">Grocery Categories</a>
      </div>
      <div class="button-wrapper">
        <a href="/grocery-data-manager/store" class="button">Stores</a>
      </div>
    </div>
  </div>

  <!-- JQuery Library -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <!-- Javascript Files -->
  <!-- <script src=""></script> -->
</body>
</html>