<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Interface HTML head statements -->
  <%- include('../partials/head-1.ejs') %>
</head>
<body>
  <div class="interface-wrapper">
    <header class="header-wrapper">
      <a href="/"><img id="back-icon" class="control" src="/image/hdpi/ic_back.png"></a>
      <h1>Your Saved Grocery Data</h1>
    </header>
    <div class="buttons-wrapper">
      <div class="button-wrapper">
        <a href="/grocery-data-manager/product" class="button url-button">Products</a>
      </div>
      <div class="button-wrapper">
        <a href="/grocery-data-manager/category" class="button url-button">Categories</a>
      </div>
      <div class="button-wrapper">
        <a href="/grocery-data-manager/brand" class="button url-button">Brands</a>
      </div>
      <div class="button-wrapper">
        <a href="/grocery-data-manager/store" class="button url-button">Stores</a>
      </div><hr class="hr">
      <div class="button-wrapper">
        <a href="/grocery-data-manager/product-preferences" class="button url-button">Product Preferences</a>
      </div>
    </div>
  </div>

  <!-- Common javascript includes -->
  <%- include('../partials/common-js.ejs') %>
</body>
</html>