<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-2.ejs') %>

      <div class="form-container">
        <div class="form-wrapper">
          <form action="">
              <div class="form-input-wrapper">
                <label for="listitem-0"> Product Name:</label><br>
                <input class="form-input" type="text" name="listitem-0" id="listitem-0" placeholder="select product name" value="" required>
              </div>
            <input type="text" name="userid" value="1" hidden>
            <input type="submit" id="add-listitem" class="submit" value="Save">
          </form>
        </div>
      </div>
       
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
  </body>
</html>