<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header -->
      <%- include('../partials/header-2.ejs') %>

      <div class="form-container">
        <div class="form-wrapper">
          <form action="">
              <div class="form-input-wrapper">
                <label for="dropdown-product"> Product:</label>
                <select class="form-input" name="dropdown-product" id="dropdown-product" placeholder="select product" required>
                <option value="aldi">Aldi</option>
                <option value="hansens">Hansens</option>
                <option value="kwiktrip">Kwik Trip</option>
                <option value="walmart">Business</option></select>

                <label for="dropdown-cat"> Category:</label>
                <select class="form-input"  name="dropdown-cat" id="dropdown-cat" placeholder="select category name" required>
                <option value="Bakery">Bakery</option>
                <option value="Dairy">Dairy</option>
                <option value="Meats">Meats</option>
                <option value="Produce">Business</option></select>

                <label for="dropdown-store"> Store:</label>
                <select class="form-input" name="dropdown-store" id="dropdown-store" placeholder="select store name" required>
                <option value="aldi">Aldi</option>
                <option value="hansens">Hansens</option>
                <option value="kwiktrip">Kwik Trip</option>
                <option value="walmart">Business</option></select>

                <label for="dropdown-brand"> Brand:</label>
                <select class="form-input" name="dropdown-store" id="dropdown-brand" placeholder="select brand name" required>
                <option value="aldi">Aldi</option>
                <option value="hansens">Hansens</option>
                <option value="kwiktrip">Kwik Trip</option>
                <option value="walmart">Business</option></select>

                <br>

                <label for="quantity"> Quantity:</label><br>
                <input class="form-input" type="text" name="quantity" id="quantity" placeholder="select quantity" value="" required>

    </select>
              </div>
            <input type="text" name="userid" value="1" hidden>
            <input type="submit" id="add-listitem" class="submit" value="Save">
          </form>
        </div>
      </div>
       
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script>src="/js/listitem.js"</script>
  </body>
</html>