<!-- Interface for Product Preferences (before clicking on a product) -->
<!-- NO LONGER BEING USED -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Interface HTML head statements -->
    <%- include('../partials/head-1.ejs') %>
  </head>
  <body>
    <div class="interface-wrapper">
      <!-- Interface header with back button-->
      <%- include('../partials/header-2.ejs') %>
      <!-- Interface list of url buttons -->
      <%- include('../partials/button-list.ejs') %>
    </div>
    <!-- Common javascript includes -->
    <%- include('../partials/common-js.ejs') %>
    <script src="/js/preferences.js"></script>
  </body>
</html>